body {
  background-color: #405A6D;
  background-image: url(/assets/images/background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  font-family: 'Roboto', sans-serif;

  font-size: 13pt;
  line-height: 16pt;

}

.mainSection {
  margin: 80px 0;
}

.intro {
  position: relative;
  z-index: 2;
  height: 370px;
  background-image: url(/assets/images/bg.jpg);
  background-size: 1920px 398px;
  background-position: center 0;
  @include image-2x("/assets/images/bg@2x.jpg", 1920px, auto);

  .content {
    padding: 120px 0 80px 0;
  }

  h2 {
    font-size: 2.2em;
    line-height: 1.2em;
    font-weight: 300;
    color: #C3C9D0;
    text-transform: uppercase;
    letter-spacing: 2px;

    span {
      display: inline-block;
    }


    &:hover {

      //@for $i from 1 through 10 {
      //
      //  span:nth-child(#{$i}) {
      //    @include animation(colorBow 650ms ease-out);
      //    animation-delay: $i * 50ms;
      //  }
      //
      //}

    }

  }

  h1 {
    color: #A7A8AD;

    strong {
      font-weight: 500;
    }

  }

}

.introTriangle {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-top: -33px;
  overflow: hidden;
  @include transform(rotate(45deg));

  .img {
    width: 75px;
    height: 75px;
    background-size: 1920px auto;
    background-position: center 55px;
    background-image: url(/assets/images/bg.jpg);
    @include image-2x("/assets/images/bg@2x.jpg", 1920px, auto);
    @include transform(rotate(-45deg));
  }

}

.externals {
  margin-top: 10px;
  font-size: .9em;
  color: #9FB0C1;

  > li {
    margin: 4px 0;
  }

  .icon {
    color: #B9C6D4;
    font-size: .9em;
    display: inline-block;
    padding-right: 2px;
  }

  .text {
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }

  }

}

.roundImg {
  @extend .thumb;
  width: 200px;
  height: 200px;
  background-image: url(/assets/images/me.jpg);
  @include image-2x("/assets/images/me@2x.jpg", 200px, 200px);
  @include border-radius(50%);
}

.projects {
  @extend .clearfix;

  .projectCard {
    float: left;
    margin: 0 60px 60px 0;

    &:nth-of-type(odd) {
      margin-left: 0;
    }

    &:nth-of-type(even) {
      margin-right: 0;
    }

  }

}

.projectCard {
  width: 100%;
  max-width: 360px;

  .thumb {
    width: 100%;
    height: 340px;
    background-color: black;
    position: relative;
    @include border-radius-separate(3px, 3px, 20px, 20px);
    @include box-shadow(0, 2px, 3px, rgba(0, 0, 0, 0.15)); // , 0 1px 0 1px rgba(0, 0, 0, 0.15));

    // temporary
    background-image: url(/assets/images/card_soon.jpg);
    @include image-2x("/assets/images/card_soon@2x.jpg", 360px, 340px);

    &.thumb--yep {
      background-image: url(/assets/images/card_yep.jpg);
      @include image-2x("/assets/images/card_yep@2x.jpg", 360px, 340px);
    }

    &.thumb--art {
      background-image: url(/assets/images/card_art.jpg);
      @include image-2x("/assets/images/card_art@2x.jpg", 360px, 340px);
    }

    &.thumb--photography {
      background-image: url(/assets/images/card_photography.jpg);
      @include image-2x("/assets/images/card_photography@2x.jpg", 360px, 340px);
    }

  }

  .details {
    color: #FFFFFF;
    margin: -5px 10px 0 10px;
    @include box-shadow(0, 18px, 15px, -10px, rgba(0, 0, 0, 0.15)); // , 0 1px 0 1px rgba(0, 0, 0, 0.15));

    .top {
      padding: 18px 20px 10px 20px;
      background-color: rgba(22, 42, 80, 0.71);
    }

    .left {
      float: left;
      margin-right: 20px;
    }

    .rest {
      overflow: hidden;
      text-align: right;
      font-size: .6em;
      line-height: 1.2em;
      color: #4383A2;
    }

    .bottom {
      @extend .clearfix;
      padding: 6px 6px 10px 16px;
      background-color: rgba(22, 47, 80, 0.7);
      @include border-radius-separate(0, 0, 15px, 15px);
    }

  }

  .subtitle {
    color: #00A9FF;
    font-size: .7em;
    font-weight: 700;
    margin-bottom: 2px;
  }

  .title {
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1em;
    text-transform: uppercase;
  }


}

.tags {
  @extend .clearfix;
  font-size: .65em;

  > li {
    float: left;
    color: #818BB7;
    margin: 4px;
    //padding: 6px 8px;
    line-height: 1em;
    font-weight: 700;
    //@include border-radius(3px);
    //@include box-shadow(0, 0, 1px, black);
  }

}

.overview {
  @extend .clearfix;
}

.overviewList {
  margin-right: 30px;
  float: left;
  min-width: 200px;
  //box-shadow: 0 0 1px rgba(0, 0, 0, 0.26);
  @include border-radius(5px);
  background-color: rgba(0, 0, 0, 0.03);
  position: relative;
  color: #394B5F;

  h3 {
    font-weight: bold;
    padding: 13px 16px;
    //background-color: rgba(255, 255, 255, 0.04);
    @include background-gradient(rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0));
    @include border-radius-separate(5px, 5px, 0, 0);

    .icon {
      display: none;
    }

  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 60px;
    @include background-gradient(rgba(0,0,0,0), rgba(24, 40, 70, 0.06));
    @include border-radius-separate(0, 0, 5px, 5px);
  }

}

.skills {
  font-size: .9em;
  font-weight: 500;
  color: #263546;

  > li {
    margin: 10px 18px 10px 18px;
  }

  span {
    line-height: 1.8em;
    //background-color: rgba(0,0,0,0.2);
    //@include border-radius(3px);
  }

}
