
.icon-github-squared:before { content: '\e800'; } /* '' */
.icon-linkedin-squared:before { content: '\e801'; } /* '' */
.icon-mail-squared:before { content: '\e802'; } /* '' */
.icon-code:before { content: '\e803'; } /* '' */
.icon-brush:before { content: '\e804'; } /* '' */